vti_encoding:SR|utf8-nl
http\://www.web-horizons.com/walden/corvette/corvette.html:links.htm
http\://pages.prodigy.net/corvette_junkie/:links.htm
http\://users.aol.com/cjwright/sean/vette.htm:links.htm
http\://www.primenet.com/~dougb/vette.html:links.htm
http\://www.vettefinders.com/:links.htm
http\://www.corvettecentral.com:links.htm
http\://bowlinggreen.ky.net/corvette/:links.htm
http\://www.dsu.edu/~johnsone/corvette.html:links.htm
http\://www.lingenfelter.com/:links.htm
http\://www.y-body.org/:links.htm
http\://home.pacbell.net/jeffbarn/main.htm:links.htm
http\://www.vettebrakes.com/:links.htm
http\://www.nascar.com:links.htm
http\://webhome.idirect.com/~mikes/vette.html:links.htm
http\://www.visi.com/~weibergc/wwwboard/wwwboard.html:links.htm
http\://www.goracing.com/nhra:links.htm
http\://www.geocities.com/hollywood/academy/5299/vette01.html:links.htm
http\://www.corvettecorner.com:links.htm
http\://www.ecklers.com/:links.htm
http\://www.pathcom.com/~youngdj/homepage.html:links.htm
http\://www.d-p-g.com/corvettefever/:links.htm
http\://www.callawaycars.com/:links.htm
http\://www.tispecialty.com/index.html:links.htm
http\://www.flash.net/~ldgreen/:links.htm
http\://www2.gdi.net/~stephenv/pers2.htm:links.htm
http\://www.idavette.net/index.html:links.htm
http\://www.geocities.com/colosseum/1299/:links.htm
http\://www.speeddemons.com/:links.htm
http\://www.madvet.com/:links.htm
http\://www.zip-corvette.com:links.htm
http\://www.vintageparts.com/:links.htm
http\://www.corvettesalvage.com/:links.htm
